@using Es.Riam.Gnoss.Web.MVC.Models;
@model CMSComponentHTML
<!--Ligeros cambios en los estilos de colores-->
@*
Descripción
-----------------------------------------------
Vista que muestra el componente de HTML Libre en una página CMS.

Variables
----------------------------------------------------------------
*@
@{

}
@*
----------------------------------------------------------------
-------------------- Vista CMS del componente de HTML Libre en una página CMS. --------------------*@

@if(Model != null)
{
    <div class="bg-light">
        @Html.Raw(Model.HTML)
    </div> 
}
      